
{{!-- el perfil del perro/gato que sea modificable por los admin. --}}

{{!-- se tiene que poder editar el perfil de perro; para editar requiero log in--}}

{{!-- quiza no necesariamente un login pet  pero si un petProfile --}}


{{!-- {{aqui se verían comentariso del pet. el mapa}} --}}


<img src="{{profile_pic}}" width="20%" height="auto" alt="Kitty" />

</br>

{{petName}}
  {{petType}}
    
    {{size}}
    {{weight}}
    {{sex}}



</br>

<a href="/adoptSuccess/{{_id}}"> Adopt </a>

</br>

<a href="/deletePet/{{_id}}"> Delete </a>

</br>

<a href="/editPet/{{_id}}"> Edit </a>

<div id="map"></div>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=KEY"></script>

<script type="text/javascript" src="/js/petLocation.js"></script>




