
{{!-- el perfil del perro/gato que sea modificable por los admin. --}}

{{!-- se tiene que poder editar el perfil de perro; para editar requiero log in--}}

{{!-- quiza no necesariamente un login pet  pero si un petProfile --}}


{{!-- {{aqui se verían comentariso del pet. el mapa}} --}}

{{petName}}
  {{petType}}
    
    {{size}}
    {{weight}}
    {{sex}}



<a href="/adoptSuccess/{{_id}}"> Adopt </a>



{{#if errorMessage}}
   {{errorMessage}}
{{/if}}



