{{! quiza no necesariamente un login pet  pero si un petProfile }}

{{!-- {{aqui se verían comentariso del pet. el mapa}} --}}

<div class="container py-5 my-5 createNewPet" style="background-color: #f4eed6">

  <h4 class="display-4 d-flex justify-content-center my-5">Adopt or be in touch
    by leaving a comment &#128521;</h4>

  <div class="row d-flex justify-content-around">


{{!-- div del pet --}}
    <div class="col px-5 mx-3 d-flex flex-column align-items-center " >

      <img src="{{hbpet.profile_pic}}" class="imgcoverprofile" alt="Kitty" />

      
<div class="container  d-flex flex-column align-items-center">
      <h3>Here we have our beloved {{hbpet.petType}}, {{hbpet.petName}}</h3>


      {{#if hbpet._register}}s
        <p class="h5 px-5 py-2"> It was brought to Pokepets by <span style="text-decoration: underline;">{{hbpet._register.username}} </span>  ({{hbpet._register.email}})</p>
      {{/if}}

      <p class="h5 px-5 py-2">A <span style="color:red">{{hbpet.sex}} </span> pet which size is <span style="color:red">{{hbpet.size}} </span> with <span style="color:red">{{hbpet.weight}} kilograms</span> of weight. </p>



</div>
      
  <div class="container my-3 d-flex justify-content-center">

      <a class="btn btn-success btn-lg mx-3" style="width:150px"  href="/adoptSuccess/{{hbpet._id}}"> Adopt </a>

{{#ifEquals role  'ADMIN'}}
      <a class="btn btn-success btn-lg mx-3" style="width:150px"  href="/deletePet/{{hbpet._id}}"> Delete </a>

      <a class="btn btn-success btn-lg mx-3" style="width:150px"  href="/editPet/{{hbpet._id}}"> Edit </a>
{{/ifEquals}}
 
</div>

    </div>



    <div class="col align-self-center">

      

      <div>

        <h5 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2"> Comments of other master pokepets !</h5>
        {{#each comments}}

          <ul>
            <li>{{_author.username}} {{_author.lastname}}</li>
            <li>{{comment}}</li>
          </ul>
        {{/each}}
      </div>





      <a href="/profile/{{hbpet._id}}/comment"> Write a comment </a>

      <div>

        <h5>Write and submit a comment</h5>

        <form action="/profile/{{hbpet._id}}/comment" method="POST">

          <textarea
            id="commentID"
            name="comment"
            rows="4"
            cols="50"
            placeholder="Write here your thoughts about this pet"
          > </textarea>
          <br />
          <input type="submit" value="Submit" />
        </form>

      </div>

    </div>

  </div>
  <div class="container my-5 py-5" id="map"></div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{gkey}}"></script>

<script type="text/javascript" src="/js/petLocation.js"></script>