<div class="container py-5 my-5 createNewPet"   style="background-color: #f4eed6">

  <h4 class="display-4 d-flex justify-content-center my-5">Meet the available pets at Pokepets &#128021; &#128008;</h4>

  <div class="container" >

    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 d-flex justify-content-center p-3"
    >

      {{#each hbpets}}

        {{#if _adopter}}{{else}}

          <figure class="container">

            <img src="{{profile_pic}}" alt="" />
            <figcaption>
              <h3>{{petName}}</h3>
              <div class="card-body">

                <ul>
                  <li> {{sex}}</li>
                  <li> Size: {{size}}</li>
                  <li> Weight: {{weight}} kilograms</li>

                </ul>
                
                
              <h3>  <a href="/profile/{{_id}}" class="btn btn-danger">
                Check the
                  adoption profile</a>
                  </h3>
              </div>

            </figcaption>
          </figure>

        {{/if}}

      {{/each}}

    </div>
  </div>



<div class="container"> 

  <div id="map0"></div>


</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="{{gkey}}"></script>

<script type="text/javascript" src="/js/list.js"></script>

{{! agregar una bandera que revise si es gato / perro }}

{{!   petName: 'bonita',
    petType: 'Gato',
    profile_pic: 'Screen Shot 2020-04-26 at 11.49.46 AM.png',
    size: '2',
    weight: '2',
    sex: 'Hembra',
    address: }}