<div class="album py-5 bg-light">

  <h1>List of available pets for Adoption</h1>

  <h6>Sign up / Log in first to adopt</h6>

  <br />
  <a href="/">home</a>

  <div class="container">

    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 d-flex justify-content-center"
    >

      {{#each pets}}

        {{#if this._adopter}}{{else}}
          <div class="card text-center m-5" style="width: 18rem;">

            <img class="card-img-top" src="{{profile_pic}}" alt="Kitty" />
            <div class="card-body">
              <h5 class="card-title">{{petName}}</h5>
              <ul>
                <li> {{petType}}</li>
                <li> Size: {{size}} centimeters</li>
                <li> Weight: {{weight}} kilograms</li>
                <li> {{sex}}</li>
                <li> {{address}}</li>

                {{#if _register}}
                  <li> El que registro la mascota  {{_register.username}}</li>

                {{/if}}

              </ul>
              <a href="/profile/{{_id}}" class="btn btn-danger">Check the
                adoption profile</a>
            </div>

          </div>

        {{/if}}

      {{/each}}

    </div>
  </div>

  <div id="map0"></div>

</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt7xKPA7bOxEwA0P_Mw9_0X29OS2MQB8I"
></script>

<script type="text/javascript" src="/js/list.js"></script>

{{! agregar una bandera que revise si es gato / perro }}

{{!   petName: 'bonita',
    petType: 'Gato',
    profile_pic: 'Screen Shot 2020-04-26 at 11.49.46 AM.png',
    size: '2',
    weight: '2',
    sex: 'Hembra',
    address: }}