{{#if user}}
<img src="{{user.profile_pic}}" alt="">
<h2>Hello {{user.username}} {{user.lastname}}</h2>
<p>Number: {{user.number}}</p>
<P>Email: {{user.email}}</P>

{{#each user._pets}}

<img src="{{profile_pic}}"  width="20%" height="auto" alt="userPic">

<h1>{{petType}} {{petName}}</h1>
<p>{{sex}}</p>

{{/each}}

{{#if user.role}}
    <button type="submit"><a href="/auth/listUsers">Check Users</a></button>    
{{/if}}


<button type="submit"><a href="/auth/editUser/{{user.id}}">Edit User</a></button>

<br>
<form id="logout-form" action="/auth/logout" method="POST">
    <button>Logout</button>
</form>

{{else}}
<p>The user is not logged in</p>
{{/if}}