<div class="container d-flex  flex-column align-items-center my-4 py-3 tales carousel-inner createNewPet" style="background-color: #f4eed6">


<div id="form">
    <h2>Edit {{username}} {{lastname}}</h2>


            {{#if errorMessage}}

        <div class="alertSignUp">
          
          <a href="/auth/login">
          <span
            class="closebtn"
            onclick="this.parentElement.style.display='none';"
          >&times;</span>
          </a>
          <p style="display:flex;justify-content: center;margin-left: 50px;;margin-top: 10px;"><strong>Error:</strong>
          {{errorMessage}}</p>
        </div>
        <div class="my-4" style="display:flex;justify-content: center">
          <img class="imgErrorprofileUser"  src="https://c.tenor.com/KLAHPW3-BaQAAAAC/loading-error.gif" alt="">
          </div>
      {{/if}}

<form action="/auth/editUser/{{_id}}" method="POST" enctype="multipart/form-data">
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <input type="number" id="form3Example1" class="form-control" name="number" value="{{number}}"/>
        <label class="form-label" for="form3Example1">Number phone:</label>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <input type="password" id="form3Example2" class="form-control" name="password"/>
        <label class="form-label" for="form3Example2">Password:</label>
      </div>
    </div>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form3Example3" class="form-control" name="email" value="{{email}}"/>
    <label class="form-label" for="form3Example3">Email address:</label>
  </div>

  <!-- picture input -->
  <div class="form-outline mb-4">
    <input type="file" id="form3Example4" class="form-control" name="profile_pic"/>
    <label class="form-label" for="form3Example4">Image:</label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Update</button>



</form>
</div>

</div>