
<div id="profile" class="container">

<div class="pagUserProfile">
<div class="boxOne">
<div class="box-1 my-4">
{{#if user}}
<img src="{{user.profile_pic}}" alt="" class="imgcoverprofileUser">

<h2 class="my-4">Hello {{user.username}} {{user.lastname}}</h2>

<div class="my-4">

<h3>Your data:</h3>

<p class="h5 px-5 py-2">Number: {{user.number}}</p>
<p class="h5 px-5 py-2">Email: {{user.email}}</p>

</div>



<div class="container my-3 d-flex justify-content-center">

{{#ifEquals user.role 'ADMIN'}}
    <button type="submit" class="btn btn-success btn-lg mx-3" style="width:150px"><a href="/auth/listUsers">Check Users</a></button>
{{/ifEquals}}

<button type="submit" class="btn btn-success btn-lg mx-3" style="width:150px"><a style="text-decoration:none; color:white;" href="/auth/editUser/{{user.id}}">Edit User</a></button>



<form id="logout-form" action="/auth/logout" method="POST">
    <button class="btn btn-success btn-lg mx-3" style="width:150px">Logout</button>
</form>

</div>

{{else}}
<p>The user is not logged in</p>
{{/if}}


</div>
</div>

<div class="cardsPetsProfile">

<div class="box-2">
    <h2>Adopted pets</h2>
{{#each user._pets}}

<img src="{{profile_pic}}"  class="imgcoverprofileUser mt-3" alt="userPic">

<h4 class="mt-3">{{petType}} {{petName}}</h4>
<p class="h5 px-5 py-1">{{sex}}</p>

{{/each}}
</div>

<div class="box-3">
    <h2>Registered pets</h2>
{{#each user._registered_pets}}

<img src="{{profile_pic}}"  class="imgcoverprofileUser mt-3" alt="userPic">

<h4 class="mt-3">{{petType}} {{petName}}</h4>
<p class="h5 px-5 border-bottom border-dark">{{sex}}</p>

{{/each}}
</div>


</div>
</div>
</div>

</div>