<div class="boxOne">
<div class="box-1">
{{#if user}}
<img src="{{user.profile_pic}}" alt="" class="imageUserProfile">
<h2>Hello {{user.username}} {{user.lastname}}</h2>
<p>Number: {{user.number}}</p>
<P>Email: {{user.email}}</P>


<div class="botonsUser">
{{#ifEquals user.role 'ADMIN'}}
    <button type="submit" class="btn btn-outline-info button1"><a href="/auth/listUsers">Check Users</a></button>
{{/ifEquals}}


<button type="submit" class="btn btn-outline-warning button2"><a href="/auth/editUser/{{user.id}}">Edit User</a></button>
</div>

<br>
<form id="logout-form" action="/auth/logout" method="POST">
    <button class="btn btn-outline-dark button3">Logout</button>
</form>

{{else}}
<p>The user is not logged in</p>
{{/if}}


</div>
</div>

<div class="cardsPetsProfile">
<div class="box-2">
    <h2>Rescued pets</h2>
{{#each user._pets}}

<img src="{{profile_pic}}"  width="20%" height="auto" alt="userPic">

<h4>{{petType}} {{petName}}</h4>
<p>{{sex}}</p>

{{/each}}
</div>

<div class="box-3">
    <h2>Registered pets</h2>
{{#each user._registered_pets}}

<img src="{{profile_pic}}"  width="20%" height="auto" alt="userPic">

<h4>{{petType}} {{petName}}</h4>
<p>{{sex}}</p>

{{/each}}
</div>
</div>
</div>
